.vscode

SimpleVR/[Tt]emp/
SimpleVR/[Oo]bj/
SimpleVR/[Bb]uild
SimpleVR/[Bb]uilds/
SimpleVR/[Ll]ibrary/
SimpleVR/sysinfo.txt
SimpleVR/*.stackdump
SimpleVR/Assets/AssetStoreTools*
SimpleVR/*.apk
SimpleVR/*.unitypackage
 
SimpleVR/[Ee]xported[Oo]bj/
SimpleVR/.vs/
SimpleVR/*.userprefs
SimpleVR/*.csproj
SimpleVR/*.pidb
SimpleVR/*.pidb.meta
SimpleVR/*.suo
SimpleVR/*.sln*
SimpleVR/*.user
SimpleVR/*.unityproj
SimpleVR/*.booproj
SimpleVR/.consulo/
SimpleVR/*.tmp
SimpleVR/*.svd